<div class="nodes-text-container">
<h1 class= "text-center">Sensor Information</h1>
<div class="container">
   <table class="table table-bordered table-striped table-container">
      <thead>
         <tr>
            <th>Sensor number</th>
            <th>Name</th>
            <th>Current battery Voltage (mV)</th>
            <th>Time since last measurment</th>
            <th>Rename</th>
         </tr>
      </thead>
      <tbody>
         <% @nodes.each do |node| %>
         <tr>
            <td><%= node.node_id%></td>
            <td><%= node.name%></td>
            <td><%= node.voltage%></td>
            <!-- This handles if there has never been a reading from a sensor -->
            <td><% if node.last_reading.nil? %>
               <%= "Never" %>
               <% else %>
               <%= distance_of_time_in_words(Time.zone.now - node.last_reading) %>
               <% end %>
            </td>
            <td><%= link_to 'Rename', node %></td>
         </tr>
         <% end %>
      </tbody>
   </table>
</div>
<br>
</div>

