<div class="nodes-text-container">
<h1>Rename Sensor <%=@node.node_id%></h1>
<h2>Current name: <%= @node.name %></h2>
 <%= form_for :node, :method => :put, :url => {:action => "update"} do |f| %> 
  <tr>
   <th><%= f.label(:name,"New name") %></th>
   <td><%= f.text_field(:name) %></td>
  </tr>
 </table>
<%= submit_tag("Update name") %>
<% end %>
</div>