<div class="graphs-text-container">
<p id="notice"><%= notice %></p>
<h1 class="text-center">
Today's Measurements
<h1>
<div class="graph">
   <graph>
      <%=
         line_chart allTemp,
         title: "All Temperatures",
         xtitle: "Time",
         ytitle: "Temperature (F)",
         legend: true,
         legend: "bottom",
         download: true,
         max: upperQuartile(maxNode(true)),
         min: lowerQuartile(minNode(true))
         
         %>
   </graph>
</div>
</br>
<hr>
</br>
<div class="graph">
   <graph>
      <%=
         line_chart allHum,
         title: "All Humidities",
         xtitle: "Time",
         ytitle: "Humidity (%)",
         legend: true,
         legend: "bottom",
         download: true,
         max: upperQuartile(maxNode(false)),
         min: lowerQuartile(minNode(false))
         
         %>
   </graph>
</div>
<%= @nodeList.each do |node|%>
<div class="graph">
   <graph>
      <%=
         line_chart getData(node),
         title: nodeName(node),
         xtitle: "Time",
         ytitle: "Temperature/Humidity",
         legend: true,
         legend: "bottom",
         download: true,
         max: upperQuartile(node),
         min: lowerQuartile(node)
         
         %>
</div>
</graph>
<p hidden><% end %></p>
</div>

