<!DOCTYPE html>
<html>
  <head>
    <title>Lelooska Sensors</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    <!-- No need for this button -->
    <li><%= link_to 'Welcome', root_path%><li>
    <% if !current_user.nil? %>
        <!-- Check if the user is null so that the next check will run -->
    <li><%= link_to 'Sensors', nodes_path%><li>
    <li><%= link_to 'Readings', readings_path%><li>
    <li><%= link_to 'Error Log', logs_path%><li>
    <li><%= link_to 'Graphs', graphs_path%><li>
    <li><%= link_to 'Change Password', update_user_password_path(current_user.email) %><li>
    <% if current_user.admin? %>
    <!-- hide the rest of the tabs unless they are an admin -->
    <li><%= link_to 'Users', users_path%><li>
    <li><%= link_to 'Sign Up', sign_up_path%><li>

  <% end %>
<% end %>
    
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <% if signed_in? %>
      <li><%= link_to 'Sign out', sign_out_path, method: :delete%></li>
    <% else %>
    <% end %>
    </ul>
  </div>
</nav>
  <body>

    <%= yield %>

  </body>
</html>
